<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Code generate</title>
</head>
<body>
<center>
    <h2>Генератор кодов</h2>
    <form action="/" method="post">
        <label>Введите ссылку или товарный код для генерации кода</label>
        <br>
        <br>
        <input type="text" name="net" >
        <br>
        <br>
        <p>Выберите тип кода</p>
        <input type="radio" name="code" value="qrcode" checked> QR code
        <input type="radio" name="code" value="barcode"> Barcode
        <br><br>
        <input type="submit" value="Парсинг" class="button">
        <br><br>
    </form>

</center>
</body>
</html>